* {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}

#root {
  padding: 3vh;
}

h1 {
  font-size: 15px;
  font-weight: 100;
  color: #121f26;
  margin: 0;
}

a {
  font-size: 15px;
  font-weight: 100;
  color: #121f26;
  text-decoration: none;
  margin-right: 10px;
}

#firstname {
  top: 0.75vh;
  left: 0.25vw;
  /* animation: name 1s; */
  position: relative;
}

#lastname {
  /* animation: last-name 1s; */
  position: relative;
  left: 0.25vw;
}

.name {
  font-weight: 500;
  font-size: 45px;
}

#navbar {
  position: fixed;
  right: 0;
  margin-right: 5vw;
  top: 8vh;
  text-align: right;
  z-index: 200;
}

h4 {
  font-size: 12px;
  font-weight: 100;
}
h3 {
  font-size: 14px;
  font-weight: 100;
  margin: 10px;
  cursor: pointer;
  display: inline;
}

img {
  height: 60vh;
  margin: 2px;
  object-fit: contain;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 67vw;
  height: auto;
  background: white;
  z-index: 100;
  position: absolute;
  top: 10vh;
  left: 18vw;
  overflow: scroll !important;
}

.project-img {
  margin: 15px;
}

#empty-div {
  height: 10vh;
}

#home-page-print {
  height: 100vh;
  margin-left: 10vw;
  margin-right: 10vw;
  position: absolute;
  top: 0;
  left: 55vw;
  animation: print 1s;
}

svg {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s linear forwards;
  z-index: 0;
}
#smiley {
  position: absolute;
  left: 60vw;
}

#limeline {
  position: absolute;
  left: 80vw;
  top: 80vh;
}
@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes print {
  from {
    left: -50vw;
  }
  to {
    left: 55vw;
  }
}

@keyframes name {
  from {
    top: -20vh;
  }
  to {
    top: 0.75vh;
  }
}

@keyframes last-name {
  from {
    left: -20vw;
  }
  to {
    left: 0.25vw;
  }
}
