* {
  font-family: 'Playfair Display', serif;
  overflow: hidden;
  cursor: url('/public/img/yellowflower.png'), auto;
}

/* elements */
h1 {
  font-size: 125px;
  font-weight: 900;
  color: white;
  padding: 5px;
  margin: 0px;
  text-decoration: none;
  line-height: 110px;
}

a {
  color: #121f26;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #f2eae3;
}

h4 {
  font-size: 12px;
  font-weight: 100;
}

h3 {
  font-size: 18px;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 100;
  position: absolute;
  color: #13242d;
}

img {
  filter: grayscale(100%);
}

img:hover {
  filter: grayscale(0%);
}

svg {
  max-width: 95%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 4s linear forwards;
  z-index: 0;
}

p {
  background: transparent;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #a51600;
}

img {
  position: absolute;
}

body {
  background: #f2eae3;
}
/* ids */

#contact-link {
  font-size: 15px;
  font-weight: 600;
}

#contact-link:hover {
  text-decoration: underline #a51600;
  cursor: pointer;
}

#root {
  width: 100vw;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-auto-rows: 1fr;
  height: 100vh;
  position: relative;
}

/* classes */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 67vw;
  height: auto;
  background: white;
  z-index: 100;
  position: absolute;
  top: 10vh;
  left: 18vw;
  overflow: scroll !important;
}

.project-img {
  margin: 15px;
}

.categories:hover {
  text-decoration: underline #f6b600;
}

.secret {
  color: transparent;
  /* font-size: 12px; */
}

.secret:hover {
  color: #a51600;
}

/* animations */

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes print {
  from {
    left: -50vw;
  }
  to {
    left: 55vw;
  }
}

@keyframes name {
  from {
    top: -20vh;
  }
  to {
    top: 0.75vh;
  }
}

@keyframes last-name {
  from {
    left: -20vw;
  }
  to {
    left: 0.25vw;
  }
}

@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
